<nav class="indigo accent-3">
  <div class="nav-wrapper">

    <a href="#" class="brand-logo">MisionTIC</a>

    <!-- Botón menú móvil -->
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>

    <!-- Menú escritorio -->
    <ul class="right hide-on-med-and-down">

      <li *ngIf="activeSession">
        <a routerLink="clientes/get">Clientes</a>
      </li>

      <li *ngIf="activeSession">
        <a routerLink="encomiendas/get">Encomiendas</a>
      </li>

      <li *ngIf="activeSession">
        <a routerLink="servicios/get">Servicios</a>
      </li>

      <li *ngIf="activeSession">
        <a routerLink="admin/get">Usuarios</a>
      </li>

      <li *ngIf="!activeSession">
        <a routerLink="/admin/create">Registrarse</a>
      </li>

      <li *ngIf="!activeSession">
        <a routerLink="/seguridad/login">Login</a>
      </li>

      <li *ngIf="activeSession">
        <a routerLink="/seguridad/logout">Cerrar Sesión</a>
      </li>

    </ul>

  </div>
</nav>

<!-- Menú móvil -->
<ul class="sidenav" id="mobile-demo">

  <li *ngIf="activeSession">
    <a routerLink="clientes/get">Clientes</a>
  </li>

  <li *ngIf="activeSession">
    <a routerLink="encomiendas/get">Encomiendas</a>
  </li>

  <li *ngIf="activeSession">
    <a routerLink="servicios/get">Servicios</a>
  </li>

  <li *ngIf="activeSession">
    <a routerLink="admin/get">Usuarios</a>
  </li>

  <li *ngIf="!activeSession">
    <a routerLink="/admin/create">Registrarse</a>
  </li>

  <li *ngIf="!activeSession">
    <a routerLink="/seguridad/login">Login</a>
  </li>

  <li *ngIf="activeSession">
    <a routerLink="/seguridad/logout">Cerrar Sesión</a>
  </li>

</ul>