<div class="login-container">
  <div class="row" style="width:100%">
    <div class="col s12 m6 l4 offset-m3 offset-l4">
      <div class="card grey lighten-3">
        <div class="card-content">
          
          <h4 class="card-title center-align">
            Identificación de Usuarios
          </h4>

          <form [formGroup]="fgValidacion" (ngSubmit)="identificarUsuario()">
            <!-- EMAIL -->
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input
                  formControlName="correo"
                  type="email"
                  id="email"
                />
                <label for="email">Correo Electrónico</label>
                <div
                  class="mensajeValidacion red-text"
                  *ngIf="fgValidacion.controls['correo'].invalid && fgValidacion.controls['correo'].touched"
                ><strong>Correo requerido o inválido</strong>
                </div>
              </div>
            </div>

            <!-- PASSWORD -->
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input
                  formControlName="clave"
                  type="password"
                  id="password"
                />
                <label for="password">Contraseña</label>
                <div
                  class="mensajeValidacion red-text"
                  *ngIf="fgValidacion.controls['clave'].invalid && fgValidacion.controls['clave'].touched"
                ><strong>Este campo es requerido</strong>
                </div>
              </div>
            </div>

            <!-- BOTON -->
            <div class="row center-align">
              <button
                [disabled]="!fgValidacion.valid"
                class="btn waves-effect waves-light"
                type="submit"
              >Ingresar
                <i class="material-icons right">send</i>
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>