<div class="margin-zona">
  <a routerLink="/admin/create" class="btn btn-crear">
    Registrar Usuario
  </a>

  <div class="table-container">
    <table class="table responsive">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of listado; let i = index">
          <td><strong>{{ i + 1 }}</strong></td>
          <td>{{ p.nombre }}</td>
          <td>{{ p.apellidos }}</td>
          <td>{{ p.correo }}</td>
          <td>{{ p.telefono }}</td>
          <td>
            <a
              routerLink="/admin/edit/{{ p.id }}"
              class="btn btn-standar button-spacing"
            >
              <i class="material-icons">edit</i>
            </a>
            <button
              class="btn red btn-standar"
              (click)="delete(p.id)"
            >
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>