<div class="container form-container">
  <h4 class="center-align">Editar Encomienda</h4>
  <form [formGroup]="fgValidacion" (ngSubmit)="edit()">
    <input formControlName="id" type="hidden">

    <!-- descripcion -->
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="descripcion" type="text" class="validate">
        <label class="active" for="descripcion">Descripcion</label>
      </div>
    </div>

    <!-- peso y tipo -->
    <div class="row">
      <div class="input-field col s12 m6">
        <input formControlName="peso" type="text" class="validate">
        <label class="active" for="peso">Peso</label>
      </div>
      <div class="input-field col s12 m6">
        <input formControlName="tipo" type="text" class="validate">
        <label class="active" for="tipo">Tipo</label>
      </div>
    </div>

    <!-- presentacion -->
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="presentacion" type="text" class="validate">
        <label class="active" for="presentacion">Detalles</label>
      </div>
    </div>

    <!-- boton -->
    <div class="row center-align">
      <button
        [disabled]="!fgValidacion.valid"
        class="btn waves-effect waves-light"
        type="submit"
      >
        Editar
        <i class="material-icons right">send</i>
      </button>
    </div>

  </form>
</div>