<div class="container form-container">
  <h3 class="center-align titulo-form">Editar Cliente</h3>

  <form [formGroup]="fgValidacion" (ngSubmit)="edit()">
    <input formControlName="id" type="hidden">

    <!-- fila 1 -->
    <div class="row">
      <div class="input-field col s12 m6 l4">
        <input formControlName="cedula" type="text" class="validate"/>
        <label class="active">Cedula</label>
      </div>
      <div class="input-field col s12 m6 l4">
        <input formControlName="nombre" type="text" class="validate"/>
        <label class="active">Nombre</label>
      </div>
      <div class="input-field col s12 m6 l4">
        <input formControlName="apellidos" type="text" class="validate"/>
        <label class="active">Apellidos</label>
      </div>
    </div>

    <!-- fila 2 -->
    <div class="row">
      <div class="input-field col s12 m6 l3">
        <input formControlName="pais" type="text" class="validate"/>
        <label class="active">Pais</label>
      </div>
      <div class="input-field col s12 m6 l3">
        <input formControlName="ciudad" type="text" class="validate"/>
        <label class="active">Ciudad</label>
      </div>
      <div class="input-field col s12 m6 l3">
        <input formControlName="departamento" type="text" class="validate"/>
        <label class="active">Departamento</label>
      </div>
      <div class="input-field col s12 m6 l3">
        <input formControlName="direccion" type="text" class="validate"/>
        <label class="active">Direccion</label>
      </div>
    </div>

    <!-- fila 3 -->
    <div class="row">
      <div class="input-field col s12 m6">
        <input formControlName="telefono" type="text" class="validate"/>
        <label class="active">Telefono</label>
      </div>
      <div class="input-field col s12 m6">
        <input formControlName="email" type="email" class="validate"/>
        <label class="active">Email</label>
        <span class="helper-text" data-error="Correo invalido" data-success="correcto">
          Estado
        </span>
      </div>
    </div>

    <!-- botón -->
    <div class="row center-align">
      <button
        [disabled]="!fgValidacion.valid"
        class="btn waves-effect waves-light"
        type="submit"
      >
        Editar
        <i class="material-icons right">send</i>
      </button>
    </div>

  </form>
</div>